.cart-view {
  @include full-screen-height;
  @include page-wrap-offset;
  position: fixed;
  z-index: 300;
  left: 100%;
  width: 100%;
  max-width: px-to-rem($container-xs);
  background-color: white;
  padding: $bsu 0;
  transition: transform $transition-default;
  overflow: auto;

  @include mq-min($bp-lg) {
    padding: $bsu*1.5 0;
  }

  .is-cart-active & {
    display: block;
    transform: translate3d(-100%, 0, 0);
  }

  .woocommerce-checkout:not(.woocommerce-order-received) & {

    @include mq-min($bp-lg) {
      width: 33%;
      max-width: $container-xs;
      left: 0;
      transform: none;
      z-index: 1;
      background-color: $grey-lightest;
      border-right: 2px solid $grey-lighter;
    }
  }
}

.cart-view__close {
  position: absolute;
  top: 0;
  right: 0;
}
