/**
 *
 * Footer
 * 
 */

.site-footer,
.site-sub-footer {
}

.site-footer {
  background-color: #ED9FA8;
  padding: $bsu*2 0;
}

.site-footer__menu,
.site-footer__sub-menu {
  @include list-plain;
}

.site-footer__menu {
  margin-bottom: $bsu;

  li {
    @include clearfix;
  }

  li:not(:last-child) {
    // border-bottom: 1px solid rgba(white, 0.1);
  }

  .menu-item-has-children > a {
    float: left;
  }

  a {
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
    padding: $bsu/2 0;
  }

  .current_page_item > a,
  .current_page_ancestor > a,
  a:hover {
    color: $color-primary;
  }
}

.site-footer__sub-menu {
  height: 0;
  overflow: hidden;

  a {
    padding-left: $bsu;
  } 

  &.is-active {
    border-top: 1px solid rgba(white, 0.1);
    height: auto;
  }
}

// Dropdown Toggle
.site-footer__toggle {
  @include iconfont;
  @extend .icon-arrow-down;
  position: relative;
  z-index: 0;
  display: block;
  text-align: right;
  cursor: pointer;
  padding: $bsu/2 0;

  &.is-active:before {
    transform: rotate(-180deg)
  }

  &:hover {
    color: $color-primary;
  }
}

.site-footer__sub-menu {
  margin-bottom: 0;
}

.site-sub-footer {
  background-color: $grey-lighter;
  padding: $bsu 0;
}