.fs-panes {

  @include mq-min($bp-md) {
    display: flex;
    height: calc(100vh - 5.5rem;)
  }
}

.fs-panes__color,
.fs-panes__content {
  padding: $bsu*2 $bsu;
  flex-grow: 1;
}

.fs-panes__color {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-panes__content {
  overflow: auto;

  @include mq-min($bp-sm) {
    min-width: $container-sm;
  }

  @include mq-min($bp-lg) {
    min-width: $container-md;
  }
}

.fs-panes__content-table {
  height: 100%;
  min-width: 100%;
  display: table;
}

.fs-panes__content-cell {
  display: table-cell;
  vertical-align: middle;
}
