/**
 *
 * Global Layout Styles
 *
 */

.page-wrap {
  padding-top: $bsu*3.5;

  @include mq-min($bp-main) {
    padding-top: $bsu*5;
  }
}


.page-wrap__overlay {
  @include full-cover;
  border: none;
  padding: 0;
  position: fixed;
  z-index: 300;
  background-color: $overlay-bg;
  transition: opacity $transition-default, visibility $transition-default;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;

  .no-csstransforms & {
    display: none;
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.page-wrap__inner {
  transition: transform $transition-default;

  .page-wrap.is-nav-active & {
    transform: translate3d($site-nav-width, 0, 0);
  }

  .page-wrap.is-cart-active & {
    transform: translate3d(px-to-rem(-$container-xs), 0, 0);
  }
}

.featured-image {
  margin: $bsu auto;
}
