/**
 *
 * Global Layout Styles
 *
 */

.page-wrap {
  @include page-wrap-padding;
  background-color: white;
  overflow: hidden;

  .woocommerce-checkout:not(.woocommerce-order-received) & {
    @include mq-min($bp-lg) {
      margin-left: 33%;
    }
  }
}


.page-wrap__overlay {
  @include full-cover;
  @include page-wrap-offset();
  border: none;
  padding: 0;
  position: fixed;
  z-index: 300;
  background-color: $overlay-bg;
  transition: opacity $transition-default, visibility $transition-default;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;

  .no-csstransforms & {
    display: none;
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

  }

}

.page-wrap__inner {
  transition: transform $transition-default;
  min-height: calc(100vh - #{$bsu*5});

  .page-wrap.is-nav-active & {
    transform: translate3d($site-nav-width/2, 0, 0);
  }

  .page-wrap.is-cart-active & {
    transform: translate3d(-$container-xs/2, 0, 0);

  }

  .woocommerce-checkout & {
    transform: none !important;
  }

}

.page-content {
  min-height: calc(100vh - #{$bsu*5});
}

.featured-image {
  margin: $bsu auto;
}

.single-item {
  overflow: hidden;
  perspective: 3000px;

  @include mq-min($bp-md) {
    display: flex;
    height: calc(100vh - $header-height-lg);
  }
}

.single-item p,
.single-price {
  text-align: center;
}

.single-item__figure {
  display: flex;

  @include mq-min($bp-md) {
    width: calc(100vh - 80px);
  }

  @include mq-min($bp-xl) {
    flex-shrink: 0;
  }
}

.single-images {
  @include list-plain;
  position: relative;
  min-height: 320px;
}

.single-image {
  position: relative;
}

.single-image__bg-wrapper,
.single-image__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.single-image__bg {
  background-size: cover;
  background-position: center;
  transition: all $transition-default;

  .image-zoom:not(.is-loaded) & {
    opacity: 0;
  }

  cursor: url("../../src/images/plus-button.png") 0 0, pointer; /* Legacy */
  cursor: url("../../src/images/plus-button.svg") 0 0, pointer; /* FF */
  cursor: -webkit-image-set(url("../../src/images/plus-button.png") 1x, url("../../src/images/plus-button@2x.png") 2x) 0 0, pointer; /* Webkit */

  .single-product-slider.is-active & {
    cursor: url("../../src/images/close-button.png") 0 0, pointer; /* Legacy */
    cursor: url("../../src/images/close-button.svg") 0 0, pointer; /* FF */
    cursor: -webkit-image-set(url("../../src/images/close-button.png") 1x, url("../../src/images/close-button@2x.png") 2x) 0 0, pointer; /* Webkit */
  }

  &:after {
    content: '';
    padding-bottom: 80%;
    display: block;
  }
}

.single-item__content {
  flex-grow: 1;
  transition: transform $transition-slow, opacity $transition-slow;
  transform-origin: 0% 50%;

  @include mq-min($bp-md) {
    height: calc(100vh - #{$header-height-lg});
    overflow: auto;
  }

  &.is-hidden {
    transform: translate3d(100%, 0, 0) rotateY(70deg);
    opacity: 0;
  }

  .summary p {
    margin-bottom: $bsu/2;
  }
}

.single-item__content-inner {
  padding: $bsu*2 0 $bsu*2;
  min-height: 100%;

  .stock {
    display: none;
  }

  @include mq-min($bp-md) {
    padding-bottom: $bsu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include mq-min($bp-xxl) {
    padding-top: $bsu*4;
  }
}

.single-title {
  position: relative;
  z-index: 0;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 6rem;
    height: 6rem;
  }

  g {
    fill: white;
  }

  .clip-outline {
    display: none;
  }
}

.single-product-slider {
  display: flex;
  width: 100%;
  transition: transform $transition-slow;

  &.is-active {

    @include mq-min($bp-md) {
      transform: translate3d(calc(50vw - 50%), 0 , 0);
    }
  }
}
