/**
 *
 * Header
 *
 * Main site header styles
 *
 */

.site-header {
  @include site-nav-active-content;
  position: fixed;
  z-index: 200;
  width: 100%;
  background: white;
  border-bottom: 1px solid $grey-light;
}

// Header container
.site-header__split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__left,
.site-header__right {
  width: calc(50% - #{ $logo-width/2});

  @include mq-min($bp-md) {
    width: calc(50% - #{ $logo-width-lg/2});
  }
}

.site-header__right {
  text-align: right;
}

// Main Logo
.site-logo {
  display: inline-block;
  vertical-align: middle;
  padding: $bsu/2 0;

  @include remove-underline;

  svg {
    display: block;
    @include logo-size($logo-width);

    @include mq-min($bp-md) {
      @include logo-size($logo-width-lg);
    }
  }
}

// Nav Toggle
.site-header__toggle { 
  display: inline-block;
}

.site-header__cart {}


// Navigation Sections
.site-header__icons,
.site-search {
  display: none;

  @include mq-min($bp-main) {
    display: inline-block;
  }

} 

.site-header__icons {
  @extend .nav;
  line-height: $small-fs;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: $bsu;

  > li {
    vertical-align: top;
  }
  
  a, button {
    display: block;
    font-size: $small-fs;
  }
  
}

// Site Search Bar (Hidden by default)
.site-search {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 100%;
  overflow: hidden;
  pointer-events: none;
}

.site-search__inner {
  pointer-events: all;
  transition: transform $transition-default;
  text-align: right;

  .site-search:not(.is-active) & {
    transform: translate3d(0, -100%, 0);
  }

}

// Double up the selector to increase specificty,
// overriding input[type=text]
.site-search__input.site-search__input {
  @include input-icon;
}

.site-search__button {
  @include button-icon;
}