/**
 *
 *  Mobile Nav
 * 
 */

.mobile-nav {
  background-color: lighten($grey-darker, 4%);
  z-index: 100;
  padding-top: px-to-rem(62px);

  @include mq-min($bp-main) {
    display: none;
  }
}

.mobile-nav__inner {
  display: block;
}

// Mobile Search Bar
.mobile-search__container {
  @extend .container;
  margin-bottom: $bsu;
}

// Double up the selector to increase specificty,
// overriding input[type=text]
.mobile-search__input.mobile-search__input {
  @include input-icon;
}

.mobile-search__button {
  @include button-icon;
}

// Main CTA
.mobile-nav__cta {
  position: fixed;
  bottom: 0;
  width: 100%;
}

// Main Menu
.mobile-nav__menu,
.mobile-nav__sub-menu,
.mobile-nav__icons {
  @include list-plain;
}

.mobile-nav__menu {
  margin-bottom: $bsu;

  li {
    @include clearfix;
  }

  li:not(:last-child) {
    border-bottom: 1px solid rgba(white, 0.1);
  }

  .menu-item-has-children > a {
    float: left;
  }

  a {
    color: white;
    padding-top: $mobile-item-padding;
    padding-bottom: $mobile-item-padding;
    padding-right: $mobile-item-padding;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
  }

  .current_page_item > a,
  .current_page_ancestor > a,
  a:hover {
    color: $color-primary;
  }
}

.mobile-nav__sub-menu {
  height: 0;
  overflow: hidden;

  a {
    padding-left: $bsu;
  } 

  &.is-active {
    border-top: 1px solid rgba(white, 0.1);
    height: auto;
  }
}

// Dropdown Toggle
.mobile-nav__toggle {
  @include iconfont;
  @extend .icon-arrow-down;
  position: relative;
  z-index: 0;
  color: white;
  display: block;
  padding-top: $mobile-item-padding;
  padding-bottom: $mobile-item-padding;
  height: $base-fs + $mobile-item-padding*2;
  text-align: right;
  cursor: pointer;

  &.is-active:before {
    transform: rotate(-180deg)
  }

  &:hover {
    color: $color-primary;
  }
}

// Social icons
.mobile-nav__icons {
  display: flex;
  justify-content: space-around;

  a {
    color: white;
    display: block;
    padding: $bsu;
    
    &:hover {
      color: $color-primary;
    }
  }
}