/**
 *
 * Newsletter Bar
 * 
 */

.newsletter-bar {

  background-color: $grey-lighter;
  padding-top: $bsu*2;
  padding-bottom: $bsu*2;

  .gform_title {
    text-align: center;
  }

  .gform_wrapper form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include mq-min($bp-md) {
      flex-direction: row;
    }
  }
  
  .gform_heading,
  .validation_error {
    width: 100%;
  }

  .gform_body,
  .gfield {
    flex-grow: 1;
  }

  .gform_footer {
    flex-grow: .25;
  }

  .gfield {
    padding-left: $bsu;

    @include mq-min($bp-md) {
      margin-bottom: 0;
    }
  }

  @include mq-min($bp-md) {
    .gform_footer {
      padding-left: $bsu;
    }
  }

  .gform_fields {
    display: flex;
    margin-left: -$bsu;
    flex-direction: column;

    @include mq-min($bp-sm) {
      flex-direction: row;
    }
  }  

  label {
    @extend .sr-only;
  }

  [type="submit"] {
    height: $base-input-height;
    width: 100%;
  }

}