/**
 *
 * Section
 *
 * Common page section styling
 *
 */

.section {
  margin-top: $bsu*2;
  margin-bottom: $bsu*2;

  @include mq-min($bp-md) {
    margin-top: $bsu*4;
    margin-bottom: $bsu*4;
  }
}

.section:first-child {

  .hero + .page-content & {
    margin-top: 0;
  }

}

.section--flush {
  margin: 0;
}

.section--tight {

  @include mq-min($bp-md) {
    margin-top: $bsu*2.5 !important;
    margin-bottom: $bsu*2.5 !important;
  }
}
