


#checkout-coupon:not(.is-active) {
  display: none;
}

#checkout-coupon {

}

#billing_company_field {
  // display: none;
}

.woocommerce-error,
.woocommerce-Error,
.woocommerce-message,
.woocommerce-Message {
  @extend .message;

  li {
    list-style: none;
  }

}

.woocommerce-error,
.woocommerce-Error {
  @extend .message--error;
}

.woocommerce-message,
.woocommerce-Message {
  @extend .message--status;
}

.woocommerce-info {
  margin: $bsu/2 auto;
}

.form-row {
  margin-bottom: $bsu*.75;
  width: 100%;
  position: relative;
  float: left;

  input {
    margin-bottom: 0;
  }

  + .form-row .btn {
    margin-top: 0;
  }

  .label-required .required {
    display: none;
  }

  abbr.required,
  span.required {
    display: none;
  }

  &.place-order {
    width: 100%;
    margin-top: $bsu*2;

    @include mq-min($bp-md) {
      display: flex;
    }
  }

  .validation-message--static {
    position: relative;
    display: block;
  }

  a {
    white-space: nowrap;
  }

  .terms {
    margin: 0;

    @include mq-min($bp-md) {
      padding-left: $bsu;
      order: 2;
    }

    label {
      @include font-size($tiny-fs, $tiny-lh);
      margin: $bsu*.8 0;
    }
  }
}

.form-row-first:nth-last-of-type(2),
.form-row-last:nth-last-of-type(1) {
  margin-bottom: 0;
}

input, select, textarea {
  .woocommerce-invalid & {
    border-color: $color-negative;
  }

  .woocommerce-validated & {
    border-color: $color-positive;
  }

}

.woocommerce-billing-fields,
.woocommerce-shipping-fields,
.woocommerce-account-fields {
  margin-top: $bsu*2;
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.woocommerce-shipping-fields {
  #shipping-to-different-address-radio:not(:checked) ~ & {
    display: none;
  }
}

.form-row-first,
.form-row-last,
#shipping_address_1_field,
#shipping_address_2_field,
#billing_address_1_field,
#billing_address_2_field {

  @include mq-min($bp-sm) {
    width: 50%;
  }
}

.form-row-first,
#shipping_address_1_field,
#billing_address_1_field {

  @include mq-min($bp-sm) {
    padding-right: $bsu/3;
  }
}

.form-row-first {
  .checkout_coupon & {
    @include mq-min($bp-sm) {
      width: 60%;
    }
  }
}

.form-row-last,
#shipping_address_2_field,
#billing_address_2_field {

  @include mq-min($bp-sm) {
    padding-left: $bsu/3;
  }
}

.form-row-last {
  .checkout_coupon & {
    margin-top: $bsu/2;

    @include mq-min($bp-sm) {
      margin-top: 0;
      width: 40%;
    }

    button {
      min-width: 100%;
    }
  }
}

#shipping_country_field,
#billing_country_field {
  strong {
    display: flex;
    align-items: center;
  }
}

.woocommerce-table {

  ul {
    @include list-plain;

    label {
      padding-right: 0;
    }

    li:last-child label {
      padding-bottom: 0;
    }
  }

  &.shop_table {
    .product-name {
      font-weight: bold;
    }

    .shipping {
      @include font-size($small-fs, $small-lh);
    }
  }

  small {
    display: block;
  }

}

.woocommerce-table body {
  tr:first-child {
    td, th {
      padding-top: $bsu;
    }
  }

  tr:last-child {
    td, th {
      padding-bottom: $bsu;
    }
  }
}

.woocommerce-remove-coupon {
  width: 1em;
  margin-right: -1.5em;
  margin-left: .5em;
  position: relative;
  top: -.1em;
  float: right;
}

.woocommerce-checkout-payment {

  @include mq-min($bp-sm) {
  }
}

.wc_payment_method {

  p:first-child {
    margin: $bsu/2 0;
  }

  input {
    vertical-align: bottom;
  }

  input + label {
    margin: 0;
    line-height: 1;
    vertical-align: bottom;
    padding-left: $bsu/4;
  }
}

.wc_payment_methods {
  @include list-plain;
  width: 100%;
  float: left;

  img {
    width: px-to-rem(50px);
    margin-right: $bsu/4;
  }
}

.payment_box {
  display: none;
}

.woocommerce-thankyou-order-received {
  @extend .message;
  @extend .message--positive;
}

.woocommerce-thankyou-order-details {
  margin-top: $bsu*2;
  margin-bottom: $bsu*2;
  @extend .list-editor;
}

.woocommerce-columns--2 {
  @include mq-min($bp-sm) {
    display: flex;
  }
}

.woocommerce-column {
  margin-bottom: $bsu;
  padding-right: $bsu;
}

.woocommerce-form,
form.checkout_coupon {
  background: $grey-lightest;
  padding: 0 $bsu !important;
  margin: $bsu 0;
  border: 2px solid $grey-lighter;

  &:before,
  &:after {
    content: '';
    display: block;
    height: $bsu;
  }
}

.woocommerce-form__label {
  &.inline {
    vertical-align: middle;
    margin: $bsu/2 0;

    @include mq-min($bp-xs) {
      margin: $bsu/2 $bsu;
    }
  }

  > span {
    vertical-align: middle;
    display: inline-block;
    padding-left: $bsu/8;
  }
}

.woocommerce-checkout-review-order-table {
  .product-total,
  tfoot td {
    text-align: right;
  }
}

.wc-credit-card-form {
  padding: 0;
  margin: 0;
  border: none;

  .form-row-last {
    width: 100px;
  }
}

/**
* Confirmation Page
*/

.wc-item-meta {
  @include font-size($small-fs, $small-lh);
  margin-top: $bsu/2;

  p {
    display: inline-block
  }

}

.wc-item-meta-label {
  font-weight: normal;
}

.woocommerce-order-overview  {
  @extend .list-editor;
}
