* text=auto

# Development configs
/.git export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore

# Custom development scripts
/lib export-ignore

# Capistrano config
/config export-ignore
/Capfile export-ignore

# Bundler
/.bundle export-ignore
/.ruby-version export-ignore
/Gemfile export-ignore
/Gemfile.lock export-ignore

# Composer
/composer.json export-ignore
/composer.lock export-ignore

# Bower
/bower.json export-ignore

# WordPress
/local-config-sample.php export-ignore
/.htaccess-sample export-ignore
