/**
 *
 * Animation
 *
 */

 [data-animate],
 [data-animate-transform],
 [data-animate-transform-left],
 [data-animate-transform-right] {
   transition: transform $transition-time-slow $transition-timing-default, opacity $transition-time-default $transition-timing-slow;

   .animation-group:not(.is-in) & {
     opacity: 0;
     transition-delay: 0s;
     transition: transform $transition-time-slow $transition-timing-default, opacity $transition-time-fast $transition-timing-slow;
   }
 }

 [data-animate-transform-left] {
   .animation-group:not(.is-in) & {
     transform: translate3d(-50%, 0, 0);
   }
 }

 [data-animate-transform-right] {
   .animation-group:not(.is-in) & {
     transform: translate3d(50%, 0, 0);
   }
 }

 [data-animate-transform] {
   .animation-group:not(.is-in) & {
     transform: translate3d(0, $bsu*5, 0);
   }
 }

.fade-enter, .fade-enter-active, .fade-leave-active {
  transition: all .6s $transition-timing-slow;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translate3d(0, -2rem, 0);
}

.fade-leave-active {
  transform: translate3d(0, 2rem, 0);
}

.slide-down-enter, .slide-down-enter-active, .slide-down-leave-active {
  transition: all $transition-default;
}

.slide-down-enter, .slide-down-leave-active, .slide-down-leave-active {
  transform: translate3d(0, 100%, 0);
}

.slide-out-enter, .slide-out-enter-active, .slide-out-leave-active {
  transition: all $transition-default;
}

.slide-out-enter, .slide-out-leave-active, .slide-out-leave-active {
  transform: translate3d(0, 200%, 0);
}


.opacity-enter, .opacity-enter-active, .opacity-leave-active {
  transition: opacity $transition-default;
}

.opacity-enter, .opacity-leave-active, .opacity-leave-active {
  opacity: 0;
}

// Animation delay

@for $i from 0 through 12 {

  .anim-delay-#{$i} {
    animation-delay: #{$i * 0.1}s;
  }

  .trans-delay-#{$i},
  [data-animate="#{$i}"],
  [data-animate-transform="#{$i}"],
  [data-animate-transform-left="#{$i}"],
  [data-animate-transform-right="#{$i}"] {
    transition-delay: #{$i * 0.1}s;
  }
}

.svg-animate {
  @include path-animation($transition-extra-slow);
}

.no-transition,
.no-transition *,
.no-transition *:after,
.no-transition *:before {
  transition: none !important;
}

.image-loaded {
  @include image-loaded;
}


@keyframes shake {
  0% {
   transform: scale(1) rotate(0deg)
  }

  25% {
   transform: scale(1.05);
  }

  50% {
   transform: scale(1);
  }

  75% {
   transform: scale(1.05);
  }

  100% {
    transform: scale(1)
  }
}

.shake {
  animation: shake .6s linear;
}
