/**
 *
 * Forms
 *
 * basic form styles
 *
 */

form {
  @include clearfix;
  position: relative;
}

label {
  @include font-size($form-label-fs, $form-label-lh);
  display: inline-block;
  vertical-align: top;
  margin-bottom: $bsu*.5;
  cursor: pointer;
  padding-left: 0;

}

label.tiny-text {
  @include font-size($tiny-fs, $tiny-lh);
  font-weight: bold;
}

input, button {
  display: inline-block;
  vertical-align: middle;
  box-shadow: none;
  outline: none;
  appearance: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="color"],
input[type="password"],
select,
textarea {
  height: $base-input-height;
  width: 100%;
  border: $base-border-width solid $body-color;
  background-color: white;
  padding: $base-input-padding;
  border-radius: 0;
  transition: border-color $transition-default;
  appearance: none;

  &:focus {
    border-color: $body-color;
    outline: none;
  }

  &.has-error {
    border-color: $color-negative;
  }
}

// Custom Styled Checkboxes & Radios

input[type="checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
  }

  &:before {
    z-index: 1;
  }

  &:after {
    border: 2px solid $body-color;
    background-color: white;
    z-index: 0;
  }
}

input[type="checkbox"] {

  &:before {
    color: $color-primary;
    font-family: 'icons';
    text-align: center;
    top: .25em;
    font-size: .8rem;
  }

  &:checked:before {
    @extend .icon-check;
  }
}

input[type="radio"] {

  &:after,
  &:before {
    border-radius: 50%;
  }

  &:before {
    transform: scale(0.5)
  }

  &:checked:before {
    background: $color-primary;
  }
}

textarea,
select[multiple] {
  height: auto;
}

select[multiple] {
  padding: 0;

  option {
    padding: $base-input-padding;
  }
}

.select-wrapper {
  @include iconfont;
  position: relative;
  width: 100%;

  &:before {
    @include select-arrow;
  }
}

select {
  cursor: pointer;
}

.checkbox-shape,
.checkbox-plain {
  display: inline-block;
  vertical-align: middle;
  margin-right: $bsu/2;

  input {
    @extend .sr-only;
  }

  input + label {
    padding-left: 0;
    font-weight: normal;

    &:before {
      display: none;
    }

    &:after {
      height: 0;
      border-bottom: 0;
    }

  }

  input:checked + label {
    color: $color-primary;
  }

}

.checkbox-shape {

  label {
    &:before,
    &:after {
      display: none;
    }
  }
}

.checkbox-plain {
  margin-top: $bsu*.33;

  input + label {
    @include hover-underline;

    &:hover,
    &:focus {
      @include hover-underline-active;
    }
  }
}

.form-combo {
  position: relative;

  input {
    @include input-icon;
  }

  button {
    @include button-icon;
  }
}

input[type=submit] {
  @include button-base;
  color: $body-color;
  border: $base-border-width solid currentColor;

  &:hover {
    background-color: $body-color;
    color: white;
  }
}

.button[type=submit] {
}
