/**
 *
 * Forms
 *
 * basic form styles
 *
 */

form {
  position: relative;
}

label {
  @include font-size($form-label-fs, $form-label-lh);
  display: block;
  font-weight: bold;
  margin-bottom: $bsu/2;
  cursor: pointer;
}

input, button {
  display: inline-block;
  vertical-align: middle;
  box-shadow: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="color"],
input[type="password"],
select,
textarea {
  height: $base-input-height;
  width: 100%;
  border: 3px solid $body-color;
  background-color: white;
  padding: $base-input-padding;
  border-radius: 0;
  transition: border-color $transition-default;
  appearance: none;

  &:focus {
    border-color: $body-color;
    outline: none;
  }

  &.has-error {
    border-color: $color-negative;
  }
}

// Custom Styled Checkboxes & Radios

input[type="checkbox"],
input[type="radio"] {
  @extend .sr-only;

  + label {
    position: relative;
    padding-left: $bsu*1.5;
    line-height: $bsu;
    display: inline-block;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      box-sizing: border-box;
      width: $bsu;
      height: $bsu;
    }

    &:after {
      border: 1px solid $body-color;
    }
  }
}

input[type="checkbox"] {

  + label {
    @include font-size($base-fs, $base-lh);

    &:before {
      color: $color-primary;
      font-family: 'icons';
      text-align: center;
    }
  }

  &:checked + label:before {
    @extend .icon-check;
  }
}

input[type="radio"] {
  + label {
    &:after,
    &:before {
      border-radius: 50%;
    }

    &:before {
      transform: scale(0.5)
    }
  }

  &:checked ~ label:before {
    background: $color-primary;
  }
}

textarea,
select[multiple] {
  height: auto;
}

select[multiple] {
  padding: 0;

  option {
    padding: $base-input-padding;
  }
}

.select-wrapper {
  @include iconfont;
  position: relative;
  width: 100%;

  &:before {
    @extend .icon-chevron-down;
    font-size: .6em;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    right: 0;
    top: .1em;
    width: 2.5rem;
    text-align: center;
    line-height: $base-input-height;
  }
}

select {
  cursor: pointer;
}

.checkbox-shape,
.checkbox-plain {
  display: inline-block;
  vertical-align: middle;
  margin-right: $bsu/2;

  input + label {
    padding-left: 0;
    font-weight: normal;

    &:before {
      display: none;
    }

    &:after {
      height: 0;
      border-bottom: 0;
    }

  }

  input:checked + label {
    color: $color-primary;
  }

}

.checkbox-shape {
  label {
    &:before,
    &:after {
      display: none;
    }
  }
}

.checkbox-plain {
  margin-top: $bsu*.75;

  input + label {
    @include hover-underline;

    &:hover,
    &:focus {
      @include hover-underline-active;
    }
  }
}

.form-combo {
  position: relative;

  input {
    @include input-icon;
  }

  button {
    @include button-icon;
  }
}
