/**
 *
 * Helpers
 *
 * basic helper classes
 *
 */

.background-cover {
  background-size: cover;
  background-position: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  @include clearfix;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Spacing

.mb--1 {
  margin-bottom: -$bsu;
}

.mb-2 {
  margin-bottom: $bsu*2;
}

.mb-15 {
  margin-bottom: $bsu*1.5;
}

.mb-1 {
  margin-bottom: $bsu;
}

.mb-05 {
  margin-bottom: $bsu/2;
}

.mb-25 {
  margin-bottom: $bsu/4;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-3 {
  margin-top: $bsu*3;
}

.mt-2 {
  margin-top: $bsu*2;
}

.mt-15 {
  margin-top: $bsu*1.5;
}

.mt-1 {
  margin-top: $bsu;
}

.mt-05 {
  margin-top: $bsu/2;
}

.mt-25 {
  margin-top: $bsu/2;
}

.mr-1 {
  margin-right: $bsu;
}

.mr-05 {
  margin-right: $bsu/2;
}

.color-primary {
  color: $color-primary
}

.color-secondary {
  color: $color-secondary
}

// Text

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.weight-bold {
  font-weight: bold;
}

// Display

.inline-block,
.inline-group {
  display: inline-block;
  vertical-align: middle;
}

.inline-group {
  margin: $bsu*2 auto;
}

// Flex helpers

.flex,
.flex-column {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.grow-1 {
  flex-grow: 1;
}

.align-center {
  align-self: center;
}

.align-bottom {
  align-self: flex-end;
}

.order-2--xl {
  @include mq-min($bp-xl) {
    order: 2
  }
}

.order-2--md {
  @include mq-min($bp-md) {
    order: 2
  }
}

.order-2--lg {
  @include mq-min($bp-lg) {
    order: 2
  }
}

.order-3 {
  order: 3;
}

.relative {
  position: relative;
}
