/**
 *
 * Icons
 *
 * basic icon fonts
 *
 * Using icomoon to manage the icon font
 *
 */


@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("../../src/fonts/icons/icomoon.eot");
  src:url("../../src/fonts/icons/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../../src/fonts/icons/icomoon.woff") format("woff"),
    url("../../src/fonts/icons/icomoon.ttf") format("truetype"),
    url("../../src/fonts/icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[data-icon] {
  @include iconfont;
}

button[class*="icon-"] {
  @include button-plain;
}

.icon-search.is-active {
  @extend .icon-close;
}

.icon-play:before {
  content: "\6a";
}
.icon-facebook:before {
  content: "\61";
}
.icon-instagram:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-linkedin:before {
  content: "\64";
}
.icon-vimeo:before {
  content: "\65";
}
.icon-gplus:before {
  content: "\66";
}
.icon-flickr:before {
  content: "\67";
}
.icon-youtube:before {
  content: "\68";
}
.icon-caret-up:before {
  content: "\6d";
}
.icon-caret-down:before {
  content: "\6e";
}
.icon-caret-left:before {
  content: "\6f";
}

$icon-caret-right: "\70";

.icon-caret-right:before {
  content: $icon-caret-right;
}

.icon-chevron-up:before {
  content: "\71";
}
.icon-chevron-down:before {
  content: "\72";
}
.icon-chevron-left:before {
  content: "\73";
}
.icon-chevron-right:before {
  content: "\74";
}
.icon-close:before {
  content: "\75";
}

$icon-minus: "\76";

.icon-minus:before {
  content: $icon-minus;
}

$icon-plus: "\77";

.icon-plus:before {
  content: $icon-plus;
}

.icon-arrow-up:before {
  content: "\79";
}
.icon-arrow-down:before {
  content: "\7a";
}
.icon-arrow-left:before {
  content: "\41";
}
.icon-arrow-right:before {
  content: "\42";
}
.icon-search:before {
  content: "\49";
}
.icon-envelope:before {
  content: "\4c";
}
.icon-check:before {
  content: "\4d";
}
.icon-location-pin:before {
  content: "\4f";
  font-size: 1.33em;
}

.icon-pinterest:before {
  content: "\e900";
}