/**
 *
 * Media
 *
 * base media styles
 *
 */

img,
svg {
  max-width: 100%;
  height: auto;
}

iframe,
video {
  margin: 0 auto $bsu;
}

video  {
  min-width: 40%;
  height: auto;
}


iframe {}

figure {
  margin: auto;
  display: block;
}

.lookbook-image {
  position: relative;
  max-width: $container-md;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $bsu*2;
  margin-bottom: $bsu*2;

  br { display: none }

  @include mq-min($bp-md) {
    margin-top: $bsu*4;
    margin-bottom: $bsu*4;
  }

  &:first-child {
    margin-top: $bsu*2;
  }

}

.lookbook-image:nth-last-child(1),
.lookbook-image:nth-last-child(2),
.lookbook-image:nth-last-child(3) {
  width: 33.33%;
  float: left;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

.lookbook-image__caption {
  position: absolute;
  left: 100%;
  margin-left: $bsu;
  margin-top: $bsu;
  top: 0;
  width: 10vw;
}

/**
 *
 * Suggested video wrapper markup
 *
 * <div class="embed-wrapper">
 *   <video></video>
 * </div><!-- .embed-wrapper -->
 *
 */

.embed-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: $bsu*2 auto;
  padding-bottom: 56.25%;
  background: $grey-light;
  overflow: hidden;

  .modal & {
    margin-top: 0;
    margin-bottom: 0;
  }

  iframe, video {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.embed-wrapper__cover,
.embed-wrapper__play {
  position: absolute;
  z-index: 10;
  transition: opacity $transition-default, visibility $transition-default;

  .embed-wrapper.is-active & {
    opacity: 0;
    visibility: hidden;
  }
}

.embed-wrapper__cover {
  @include full-cover;
  background-size: cover;
  background-position: center;
}

.embed-wrapper__play {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnail {
  position: relative;
  width: 100%;
  background-color: $grey-lighter;

  .shape-item & {
    @include full-cover;
    position: absolute;
    background-color: transparent;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all $transition-default !important;
  }

  &.is-loaded img {
    opacity: 1;
  }
}
