/**
 *
 * Mixins
 *
 */

// Media Query Mixins
// Use to create a breakpoint, either using predefined breakpoint variables or arbitrary values
@mixin mq-min($bp-value) {
  @media only screen and (min-width: $bp-value) {
    @content;
  }
}

@mixin mq-max($bp-value) {
  @media only screen and (max-width: $bp-value - 1px) {
    @content;
  }
}

@mixin mq-between($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max - 1px) {
    @content;
  }
}

@mixin font-size($font-size, $line-height) {
  font-size: $font-size / $base-fs * 1rem;
  line-height: $line-height / $font-size;
}

// Mixin for .grid with percentage base gutters
// Need a formula to calculate a more accurate offset for the grid element
@mixin fluid-grid($gutter) {
  margin-left: -(0.01202 * $gutter * $gutter / 1% + 0.98955 * $gutter + 0.01483%);
}

@mixin clearfix() {
  zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin full-cover {
  left:0;
  top:0;
  width:100%;
  height:100%;
}

// Adds even padding and trims white space below last child
@mixin island($padding) {
  @include clearfix;
  padding: $padding;

  > :last-child {
    margin-bottom: 0;
  }
}

@mixin iconfont() {
  display: inline-block;
  vertical-align: middle;
  transition: color $transition-default;

  button &,
  a & {
    transition: none;
  }

  &:before, &:after {

    display: block;
    // Makes all icons even width,
    //prevents layout shifting when toggling icons
    width: 1em;
    vertical-align: middle;
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
  }
}

@mixin button-plain($padding: 0) {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: $padding;

  &:hover, &:focus, &:active {
    background: transparent;
  }
}

@mixin button-icon {
  @include iconfont;
  @include button-plain;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  font-size: 0;
  padding: ($base-input-height - px-to-rem($base-fs))/2;
  transition: color $transition-default;

  &:hover {
    color: $color-primary;
  }

  i {
    font-size: px-to-rem($base-fs);
    height: px-to-rem($base-fs);
    line-height: px-to-rem($base-fs);
  }
}

@mixin input-icon {

  // Prevent the text from going behind the search icon
  padding-right: $base-input-height;
}

@function px-to-rem($px) {
  @return $px/$base-fs * 1rem;
}

@mixin list-plain {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

@mixin slider-base {
  overflow: auto;
  white-space: nowrap;
  padding-left: 0;
  margin-bottom: 0;
}

@mixin slide-base {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
}

@mixin testimonial-quote {
  font-family: 'helvetica neue', 'helvetica', arial, sans-serif;
  font-size: 120px;
  display: block;
  line-height: 1;
  height: .4em;
  width: .4em;
  margin-left: auto;
  margin-right: auto;
  color: $color-primary;
}

@mixin logo-size($width) {
  width: $width;
  height: $width * $logo-ratio;
}


@mixin hover-underline-active($color: false) {
  &:after {
    content: '';
    transform: scaleX(1);
    transform-origin: 0 50%;

    @if $color {
      border-color: $color;
    }
  }
}

@mixin hover-underline-offset($padding-x: 0px) {
  &:after {
    width: calc(100% - #{$padding-x * 2});
    // The extra pixel is to prevent subpixel rendering sneaking in
    transform: scaleX(0);
  }
}

@mixin hover-underline($padding-x: 0px, $bottom: false) {
  position: relative;
  display: inline-block;
  vertical-align: baseline;

  &:after {
    content: '';
    display: block;
    position: absolute;
    border-top: 2px solid currentColor;
    margin-top: 0;
    transition: transform $transition-default;
    transform-origin: 100% 50%;

    @if ($bottom == true) {
      bottom: 0;
    }
  }

  @include hover-underline-offset($padding-x);

}

@mixin remove-underline {
  &:after {
    display: none !important;
  }
}

@mixin link-default {
  @include hover-underline;
  transition: color $transition-default, background $transition-default;

  &:hover,
  &:focus {
    @include hover-underline-active;
  }
}

@mixin link-inverse {
  @include hover-underline;
  @include hover-underline-active;
  transition: color $transition-default, background $transition-default;

  &:hover,
  &:focus {
    @include hover-underline;
  }
}

@mixin path-animation($transition: $transition-default, $active-class: '.section.is-in', $delay-offset: 0) {

  path {
    opacity: 0;
    transform: scale(0);
    transform-origin: 50%;
    transition: all $transition-default;
  }

  #{$active-class} & path {
    opacity: 1;
    transform: scale(1);
    transition: all $transition;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 100 + $delay-offset) + ms;
      }
    }
  }

}

@mixin image-loaded($transition: opacity $transition-slow) {
  transition: $transition;

  &:not(.is-loaded) {
    opacity: 0;
  }
}

@mixin button-base {
  @include button-padding;
  @include font-size($small-fs, $base-lh);
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  font-family: $body-font-family;
  min-width: px-to-rem(200px);
  font-weight: bold; // Important for <button> element
  cursor: pointer;
  margin: 0;
  border: none;
  border-radius: 0;
  transition: color $transition-fast, background $transition-fast;
  color: $color-primary;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: .025em;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
  white-space: nowrap; // Important for loading buttons

  i {
    line-height: 1;
    vertical-align: middle;
  }

  @include mq-min($bp-sm) {
    @include font-size($base-fs, $base-lh);
  }

  @include mq-max($bp-xs) {
    width: 100%;
  }

  &:after,
  &:before {
    @include full-cover;
    content: '';
    position: absolute;
    z-index: -1;
    transition: opacity $transition-default, transform $transition-default;
  }

  &:before {
    box-shadow: inset 0 0 0 $base-border-width $color-primary;
  }

  &:after {
    @include full-cover;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    background-color: $color-primary;
  }

  &:hover,
  &:focus {

    &:after {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }

    &:before {}
  }

  &:hover:not([disabled]):not(.is-disabled),
  &:focus:not([disabled]):not(.is-disabled),
  &.is-active {
    color: white;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

@mixin button-padding($height: $base-button-height, $lh: px-to-rem($btn-lh), $padding-x: $bsu) {
  padding: ($height - $lh)/2 $padding-x;
}

@mixin page-wrap-padding {
  padding-top: $header-height;

  @include mq-min($bp-md) {
    padding-top: $header-height-lg;
  }
}

@mixin page-wrap-offset {
  top: $header-height;

  @include mq-min($bp-md) {
    top: $header-height-lg;
  }
}

@mixin full-screen-height($min: false) {

  $height: calc(100vh - #{$header-height});
  $height-lg: calc(100vh - #{$header-height-lg});
  $bp: $bp-md;

  @if($min) {
    min-height: $height;

    @include mq-min($bp-md) {
      min-height: $height-lg;
    }
  } @else {
    height: $height;

    @include mq-min($bp) {
      height: $height-lg;
    }
  }
}

@mixin section-spacing {
  margin-top: $bsu*2;
  margin-bottom: $bsu*2;

  @include mq-min($bp-md) {
    margin-top: $bsu*4;
    margin-bottom: $bsu*4;
  }

}

@mixin hero-spacing {
  padding-top: $bsu*2;
  padding-bottom: $bsu*2;

  @include mq-min($bp-lg) {
    padding-top: $bsu*6;
    padding-bottom: $bsu*6;
  }
}

@mixin social-button($w: 3rem) {
  @include remove-underline;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: $w;
  height: $w;
  line-height: $w;
  text-align: center;
  background-color: white;
  border: $base-border-width solid $body-color;
  border-radius: 50%;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1em;
    transform: translate(-50%, -50%);
    transition: none;
  }

  &:focus,
  &:hover {
    background-color: $body-color;
    color: white;
  }
}

@mixin select-arrow {
  @extend .icon-chevron-down;
  font-size: .6em;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 50%;
  width: 2.5rem;
  text-align: center;
  line-height: $base-input-height;
  transform: translateY(-50%);
}
