<button class="btn btn--load js-load-more" 
  data-label-enabled="Load More" 
  data-label-disabled="No More Posts To Load" 
  data-label-loading="Loading" disabled>
  <span class="sr-only">Load More</span>
</button>