<form action="https://zephyrjewelry.us15.list-manage.com/subscribe/post?u=09fb971f28c46bce8afff6a55&amp;id=1341e8ff9b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

  <label class="tiny-text" for="mce-EMAIL">{{ __('Sign up for updates', 'zephyr-theme') }}</label>
  <div class="form-combo">
    <input type="email" class="form-control" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ __( 'Email address', 'zephyr-theme' )}}" required>
    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      <span>{{ __('Sign Up', 'zephyr-theme') }}</span>
      <i class="icon-arrow-right"></i>
    </button>
  </div>

</form>
