<form action="//briteweb.us12.list-manage.com/subscribe/post?u=4c07861ad514756d8b14498af&amp;id=d06772e00f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

  <label for="mce-EMAIL" class="sr-only">{{ __('Subscribe to our mailing list', 'base-theme') }}</label>
  <div class="input-group">
    <input type="email" class="form-control" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ __( 'Enter your email address', 'base-theme' )}}" required>
    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      <span>{{ __('Sign Up', 'base-theme') }}</span>
      <i class="icon-arrow-right"></i>
    </button>
  </div>

</form>