<div v-if="product && item && itemKey" class="cart-item relative">

  <div class="grid mb-1">
    <button v-if="!isCheckout" v-on:click="remove" class="cart-item__remove btn-icon">
      <i class="icon-trash"></i>
    </button>
    <div class="grid__item w-3-12">
      <router-link :to="product.path" class="w-12-12">
        <thumbnail :image="product.thumbnail" size="card" />
      </router-link>
    </div>
    <div class="grid__item w-9-12">
      <div class="flex justify-between">
        <span>
          <h4 class="label mb-0 mr-1">
            <router-link :to="product.path">
              <span v-on:click="onTitleClick">
                {{ product.title.rendered }}
              </span>
            </router-link>
          </h4>
          <p class="tiny-text mb-0">
            <span v-if="item.variation && item.variation.attribute_pa_size">
              Size: {{ item.variation.attribute_pa_size }}
            </span> <br/>
            <span v-if="isCheckout">
              Qty: {{ quantity }}
            </span>
          </p>

        </span>
        <strong class="align-bottom small-text">
          {{ item.line_subtotal | format-currency }}
        </strong>
      </div>
      <span class="inline-block mt-05" v-if="!isCheckout" >
        <select-quantity :onChange="setQuantity" :value="quantity">
        </select-quantity>
      </span>
    </div>
  </div>
</div>
