<div v-if="product && item && itemKey" class="cart-item">

  <div class="grid mb-1">
    <button v-on:click="remove" class="btn-icon">
      <i class="icon-close"></i>
    </button>
    <div class="grid__item w-3-12">
      <thumbnail :image="product.thumbnail" size="card" />
    </div>
    <div class="grid__item w-9-12">
      <h4 class="label mb-25">
        <router-link :to="product.path">
          {{ product.title.rendered }}
        </router-link>
      </h4>
      <div class="flex justify-between small-text">
        <span>
          <span v-if="item.variation && item.variation.attribute_pa_size">
            Size: {{ item.variation.attribute_pa_size }} <br/>
          </span>

          <span>
            Qty
          </span>

          <select-quantity :onChange="setQuantity" :value="item.quantity">
          </select-quantity>
        </span>

        <span class="align-bottom">
          {{ item.line_subtotal | format-currency }}
        </span>
      </div>
    </div>
  </div>
</div>
