
<div id="cart-view" class="cart-view" v-bind:class="{ 'is-active' : isActive, 'is-loading' : isLoading }">

  <div class="container">
    <div v-if="isLoading">
      <div class="spinner"></div>
    </div>
    <div v-else>
      <div class="text-right" v-if="!isCheckout">
        <div class="cart-view__count cart-link">
          cart
          <span v-html="cart.count"></span>
        </div>
      </div>

      <div v-if="cart.count">
        <ul class="cart-items mt-2 list-plain">
          <li v-for="(item, key) in cart.contents" v-if="products[item.product_id]" class="cart-item">
            <cart-item :itemKey="key" :item="item" :product="products[item.product_id]" :onTitleClick="toggleCart" :isCheckout="isCheckout">
            </cart-item>
          </li>
        </ul>

        <hr>

        <p class="lead weight-bold flex justify-between" v-if="cart">
          <span>Subtotal:</span> <span>{{ cart.subtotal | format-currency }}</span>
        </p>

        <div class="mt-2">
          <a href="/checkout" v-if="!isCheckout" v-on:click.stop class="btn btn--body">Go To Checkout</a>
        </div>

      </div>
      <div v-else>
      <p class="lead mb-05">You cart is empty</p>

      <p>
        <a href="/shop" class="btn">
          <span v-on:click="toggleCart">
            Go to shop
          </span>
        </a>
      </p>
    </div>
    </div>

    <button class="cart-view__close btn-close" v-on:click="toggleCart">
      <svg width="38px" height="38px" viewBox="0 0 38 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(2.000000, 2.000000)" stroke="#212121" fill-rule="nonzero">
          <circle stroke-width="3" fill="#FFFFFF" cx="17" cy="17" r="17"></circle>
          <polygon fill="#212121" transform="translate(17.000000, 17.000000) rotate(45.000000) translate(-17.000000, -17.000000) " points="18.0588235 15.9411765 26 15.9411765 26 18.0588235 18.0588235 18.0588235 18.0588235 26 15.9411765 26 15.9411765 18.0588235 8 18.0588235 8 15.9411765 15.9411765 15.9411765 15.9411765 8 18.0588235 8"></polygon>
        </g>
      </svg>
    </button>
  </div>


</div>
