
<div id="cart-view" class="cart-view" v-bind:class="{ 'is-active' : isActive, 'is-loading' : isLoading }">

  <div class="container container--full">

    <div v-if="!isCheckout" class="relative">
      <button class="cart-view__close btn-text" v-on:click="toggleCart">
        <i class="icon-close"></i>
      </button>
    </div>

    <div v-if="isLoading">
      <div class="spinner"></div>
    </div>
    <div v-else>
      <div v-if="!isCheckout">
        <div class="cart-view__count cart-link">
          cart
          <span v-html="cart.count"></span>
        </div>
      </div>

      <div v-if="cart.count">
        <ul class="cart-items mt-2 list-plain">
          <li v-for="(item, key) in cart.contents" v-if="products[item.product_id]" class="cart-item">
            <cart-item :itemKey="key" :item="item" :product="products[item.product_id]" :onTitleClick="toggleCart" :isCheckout="isCheckout">
            </cart-item>
          </li>
        </ul>

        <hr>

        <p class="lead weight-bold flex justify-between" v-if="cart">
          <span>Subtotal:</span> <span>{{ cart.subtotal | format-currency }}</span>
        </p>

        <div class="mt-2">
          <a href="/checkout" v-if="!isCheckout" v-on:click.stop class="btn btn--body">Go To Checkout</a>
        </div>

      </div>
      <div v-else>
      <p class="lead mb-05">You cart is empty</p>

      <p>
        <a href="/shop" class="btn">
          <span v-on:click="toggleCart">
            Go to shop
          </span>
        </a>
      </p>
    </div>
    </div>

  </div>


</div>
