{% extends 'layouts/base.twig' %}

{% block content %}

  <article class="container">

    <h1 class="text-center">{{ post.title }}</h1>

    <figure>
      <img src="{{ attachment.src }}" alt="{{ attachment.alt }}" alt="{{ attachment.title }}">
    </figure>

  </article>

{% endblock %}
