{% extends 'layouts/base.twig' %}

{% block content %}

  <article class="section">
    <div class="container container--sm">
      <div class="post-content">
        {{ post.content }}
      </div><!-- .post-content -->
    </div>
  </article>

{% endblock %}
