{% import 'macros.twig' as macros %}

{% include 'includes/head.twig' %}

  <body class="{{ body_class }} is-loading">

    {% include 'includes/header.twig' %}

    <div id="app" class="page-wrap" v-bind:class="{
      'is-cart-active': state.cartActive,
      'is-nav-active': state.navOpen,
    }">

      <div
        class="page-wrap__overlay"
        v-bind:class="{ 'is-active' : state.overlayActive }"
        v-on:click="closeOverlay"></div>
      {% verbatim %}
      {% endverbatim %}

      <cart :cart="state.cart" :products="state.products" :is-active="state.cartActive" :is-loading="state.cartLoading" :is-checkout="state.isCheckout" :notices="state.notices">
        <!-- used as placeholder before the app loads -->
        <div class="cart-view"></div>
      </cart>

      <div class="page-wrap__inner">
        <transition-group name="fade">

          <div class="page-view__transition" v-bind:key="sections.content" v-if="!state.transiting">
            <component v-bind:is='currentView'>
              <div class="page-view-wrap">
                {% block hero %}{% endblock %}

                <main class="page-content">
                  {% block content %}
                  {% endblock %}
                </main><!--.page-content-->

              </div>
            </component>
          </div>

          {% include 'includes/footer.twig' %}

        </transition-group>

      </div>

    </div>

    {{ function('wp_footer') }}

  </body>

</html>
