{% import 'macros.twig' as macros %}

{% include 'includes/head.twig' %}

  <body class="{{ body_class }}">
    
    {% include 'includes/header.twig' %}

    <div class="page-wrap">

      <cart :cart="state.cart" :products="state.products" :is-active="state.cartActive"></cart>

      <transition-group name="fade">
        
        <div v-bind:key="sections.content" v-if="!state.transiting">
          <component v-bind:is='currentView'>
            <main class="page-content">
              {% block content %}
              {% endblock %}
            </main><!--.page-content-->
          </component>
        </div>

        <aside class="page-bottom" v-if="!state.transiting" v-bind:key="sections.bottom">
          {% block bottom %}
          {% endblock %}
        </aside>

        {% include 'includes/newsletter-bar.twig' %}
        {% include 'includes/footer.twig' %}
    
      </transition-group>

    </div>
  
    {{ function('wp_footer') }}

  </body>

</html>
