/**
*
* Accordion Styles
*
*/


.accordion-group {
  @include list-plain;
  position: relative;
  z-index: 1;
}

.accordion {
  margin-bottom: $bsu/2;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion__toggle {
  @include button-plain;
  @include font-size($lead-fs, $lead-lh);
  font-weight: bold;
  text-align: left;
  width: 100%;
  position: relative;

  @include hover-underline(0px, true);
  padding: $bsu/2 0;

  i {
    @include iconfont;
    @extend  .icon-plus;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &.is-active i {
    transform: translateY(-50%) rotate(45deg);
  }

  &:not(.is-active) {
    @include hover-underline-active;
  }

  &:hover {
    color: $color-primary;
  }

}

.accordion__body {
  transform: none;
  transition: opacity $transition-slow, visibility $transition-slow;
  overflow: hidden;

  &:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    // Important is required here to override the inline style set by JS
    max-height: 0 !important;
  }
}

.accordion__body-inner {
}
