/**
*
* Accordion Styles
*
*/


.accordion-group {
  @include list-plain;
  position: relative;
  z-index: 1;
}

.accordion {
  margin-bottom: $bsu/2;
  border: 3px solid;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion__toggle {
  @include button-plain;
  @include font-size($lead-fs, $lead-lh);
  font-weight: bold;
  text-align: left;
  width: 100%;
  position: relative;
  padding: $bsu;

  i {
    @include iconfont;
    @extend  .icon-plus;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: $bsu;
    transform: translateY(-50%);
  }

  &.is-active i {
    transform: translateY(-50%) rotate(45deg);
  }

}

.accordion__body {
  transform: none;
  overflow: hidden;
  padding: 0 $bsu;

  &:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    // Important is required here to override the inline style set by JS
    max-height: 0 !important;
  }
}

.accordion__body-inner {
}
