/**
 *
 * Buttons
 *
 * Global button styling
 *
 */


// Common button styles
%btn-base {
  @include button-base;
}

.btn--secondary {
  color: $color-secondary;

  &:before {
    box-shadow: inset 0 0 0 $base-border-width $color-secondary;
  }

  &:after {
    background-color: $color-secondary;
  }

}

.btn--sm {
  @include button-padding($bsu*2, $bsu, $bsu/2);
  min-width: px-to-rem(80px);

  @include mq-min($bp-sm) {
    min-width: px-to-rem(120px);
  }
}

.btn--white {

  &:before {
    box-shadow: inset 0 0 0 $base-border-width white;
  }

  &:after {
    @include full-cover;
    transform: scaleX(0);
    background-color: white;
  }

  &:hover {
    color: $body-color;

    &:after {}

    &:before { }
  }
}

.btn {
  @extend %btn-base;

  @include mq-max($bp-xs) {
    width: 100%;
  }
}

.btn--full {
  min-width: 100%;
}

.btn--positive {
  background-color: $color-positive;
  &:hover {
    background-color: darken($color-positive, 10%);
  }
}

.btn--negative {
  background-color: $color-negative;
  &:hover {
    background-color: darken($color-negative, 10%);
  }
}

.btn-close {
  @include button-plain;
  position: absolute;
  z-index: 2;
  top: $bsu;
  right: $container-pad*2;
  transition: all $transition-bounce;
  padding: $bsu/2;

  i {
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.btn-icon {
  @include button-plain;
  width: 1em;
  height: 1em;
  font-size: 1.2em;
  line-height: 1em;

  i {
    display: block;
  }
}

.btn[disabled],
.btn.is-disabled {

  &:after {
    display: none;
  }
  // background-color: white;
  // // border-color: $grey-light;
  // // color: $grey;
  // // cursor: default;
  // // box-shadow: none;
}

.btn--body {
  color: $body-color;

  &:before {
    box-shadow: inset 0 0 0 $base-border-width $body-color;
  }

  &:after {
    background-color: $body-color;
  }
}

.btn--load {

  &:before {
    display: block;
    content: attr(data-label-enabled);
  }

  &[disabled],
  &.is-loading {
    &:before {
      content: attr(data-label-loading);
    }
  }
}

.btn-circle {
  @extend %btn-base;
  width: $bsu*3;
  height: $bsu*3;
  padding: 0;
  border-radius: 50%;
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;

  i {
    display: block;
    position: relative;
    // Hack to position the icon, our current iconset is not perfectly aligned
    left: .05em;
    top: -.0125em;
  }

  .spinner {
    display: none;
  }

  .is-loading & {
    i {
      display: none;
    }

    .spinner {
      display: block;
    }
  }
}

.btn-text {
  @include button-plain;
  @include link-default;
}

.btn-text--sm {
  @include font-size($tiny-fs, $tiny-lh);
  font-weight: bold;
}

/**
 *
 * Toggle Button
 * Works best on a button element
 *
 * <button class="btn-toggle">
 *   <span class="btn-toggle__bar"></span>
 *   <span class="btn-toggle__bar"></span>
 *   <span class="btn-toggle__bar"></span>
 *   <span class="sr-only">Toggle navigation</span>
 * </button>
 *
 */

$icon-bar-thickness: 2px;
$icon-bar-spacing: 6px;
$button-toggle-width: px-to-rem(32px);

.btn-toggle {
  @extend %btn-base;
  position: relative;
  background: transparent !important;
  min-width: 0;
  padding: 0;
  width: $button-toggle-width;
  height: $button-toggle-width;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.btn-toggle__bar {
  display: block;
  position: absolute;
  border-top: $icon-bar-thickness solid white;
  transition: all $transition-default;
  top:50%;
  width: 100%;

  &:nth-of-type(1) {
    transform: translateY(calc(-50% - #{$icon-bar-spacing + $icon-bar-thickness}));
  }

  &:nth-of-type(2) {
    transform: translateY(-50%);
  }

  &:nth-of-type(3) {
    transform: translateY(calc(-50% + #{$icon-bar-spacing + $icon-bar-thickness}));
  }

  .btn-toggle.is-active & {

    &:nth-of-type(1) {
      transform: rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: translate3d(-100%, -50%, 0);
      opacity: 0;
    }

    &:nth-of-type(3) {
      transform: rotate(-45deg);
    }
  }
}
