/**
 *
 *   Container
 *
 *   Sets max width for the page and centers the content.
 *   Wrap around grid to create a centered layout.
 *
 *   Usage:
 *   <section class="container">
 *       <div class=grid >
 *           <div class=grid__item ></div>
 *       </div>
 *   </section>
 *
 *   |---------------------- window  ---------------------|
 *   |                                                    |
 *   |           | |                       | |            |
 *   |           | |-------container-------| |            |
 *   |           | |                       | |            |
 *   |                                                    |
 *
 */

.container {
  padding-left: $container-pad;
  padding-right: $container-pad;
  margin-left: auto;
  margin-right: auto;

  @include mq-min($bp-lg) {
    padding-left: $container-pad*2;
    padding-right: $container-pad*2;
  }

  @include mq-min($bp-xl) {
    padding-left: $container-pad*3;
    padding-right: $container-pad*3;
  }
}

.container {
  width: 90%;
  max-width: px-to-rem($container-lg);
  box-sizing: content-box; // Prevents the container's padding
                           // to be substracted from it's width

  @include mq-min($bp-lg) {
    width: 70%;
  }
}

// Full width container
.container--full {
  max-width: none;
  width: auto;
}

.container--xs,
.container--sm {
  width: auto;
}

.container--xxs {
  max-width: px-to-rem($container-xxs);
}

.container--xs {
  max-width: px-to-rem($container-xs);
}

.container--sm {
  max-width: px-to-rem($container-sm);
}

.container--md {
  max-width: px-to-rem($container-md);
}

.container--lg {
  max-width: px-to-rem($container-lg);
}

.container--xl {
  max-width: px-to-rem($container-xl);
}

.container--xxl {
  max-width: px-to-rem($container-xxl);
  width: 80%;
}

// Flush Container (no padding on sides)
.container--flush {
  padding-left: 0;
  padding-right: 0;
}
