/**
 * 
 *   Container
 * 
 *   Sets max width for the page and centers the content.
 *   Wrap around grid to create a centered layout.
 *
 *   Usage:
 *   <section class="container">
 *       <div class=grid >
 *           <div class=grid__item ></div>
 *       </div>
 *   </section>
 *
 *   |---------------------- window  ---------------------|
 *   |                                                    |
 *   |           | |                       | |            |
 *   |           | |-------container-------| |            |
 *   |           | |                       | |            |
 *   |                                                    |
 *
 */ 

.container,
.container-fixed {
  padding-left: $container-pad;
  padding-right: $container-pad;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: $container-xl;
  box-sizing: content-box; // Prevents the container's padding 
                           // to be substracted from it's width
}

// Fixed Container
// Not a variation of .container, but rather an independent component
.container-fixed {
  max-width: $container-md;
  box-sizing:border-box;
  
  @include mq-min($bp-lg) {
    max-width: $container-fixed-lg;
  }

  @include mq-min($bp-xl) {
    max-width: $container-fixed-xl;
  }
}

// Full width container
.container--full {
  max-width: none;
}

.container--xs {
  max-width: $container-xs;
}

.container--sm {
  max-width: $container-sm;
}

.container--md {
  max-width: $container-md;
}

.container--lg {
  max-width: $container-lg;
}

// Flush Container (no padding on sides)
.container--flush {
  padding-left: 0;
  padding-right: 0;
}
