/**
 *
 *  Gravity Form Styles
 * 
 */


.gform_title {
    @include h1;
}

.gform_body {
  transition: opacity $transition-default;
  position: relative;

  .is-submitting & {
    opacity: 0.4;

    // Form Blocker while it's submitting
    &:before {
      content: '';
      position: absolute;
      z-index: 100;
      @include full-cover;
    }
  }
}

.gform_fields {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.gsection {
  margin-top: $bsu*2;
}

.gfield {
  margin-bottom: $bsu;
  position: relative;
}

.ginput_complex {
  @include clearfix;
  margin-left: -$grid-gutter;
  margin-bottom: -$bsu;
}

.ginput_full,
.ginput_right,
.ginput_left,
.name_first,
.name_last{
  float: left;
  padding-left: $grid-gutter;
  position: relative;
  width: 100%;
  margin-bottom: $bsu;
  
  @include mq-min($bp-sm) {
    width: 50%;
  }
}

.ginput_container_select {
  position: relative;
}

.gfield_checkbox,
.gfield_radio {
  @include list-plain;
}

.gfield_radio {
  input {
    width: auto;
  }
}

.ginput_container_fileupload {

  input {
    @extend .sr-only;
  }

  label {
    margin-bottom: 0;
  }

  label span {
    // @extend .link-underline;
    white-space: nowrap;
    max-width: px-to-rem(200px);
    text-overflow: ellipsis; 
  }
}

.gfield_required {
  color: $color-primary;
  margin-left: .2em;
}

.validation_error {
  @include font-size($h4-fs, $h4-lh);
  margin-bottom: $bsu;
  font-weight: bold;
  color: $color-primary;
}

.validation_message {
  @include font-size($tiny-fs, $tiny-lh);
  width: 100%;
  color: $color-primary;
  order: 1;

  &:not(.instruction) {
    @include mq-min($bp-md) {
      position: absolute;
      max-width:30%;
      top: 0;
      right: $bsu/4;
      text-align: right;
    }
  }

}

.gform_footer {
  input[type="submit"] {
    @extend .btn;
  }
}

.gform_ajax_spinner {
  display: none;
}

.gform_drop_area {
  border: 1px solid $grey-light;
  padding: $base-input-padding;
  text-align: center;

  input {
    @extend .btn;
  }
}