/**
 *
 * Hero
 *
 * Large full width mastheads or sections
 *
 * Usage:
 *
 * <section class="hero">
 *   <div class="hero__body">
 *     <div class="container">
 *       <h1></h1>
 *       <p></p>
 *     </div>
 *   </div><!-- .hero__body -->
 * </section><!-- .hero -->
 *
 */

.hero {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: white;
  cursor: pointer;
  min-height: 70vw;
  margin-bottom: 5vw;

  @include mq-min($bp-md) {
    min-height: calc(100vh - 80px);
  }

  @include hero-spacing;


  .hero-slider & {
    width: 100%;
    white-space: normal
  }

  .hero-slider:not(.flickity-enabled) &:not(:first-child) {
    display: none;
  }

}

.hero--primary {
  background-color: $color-primary;
}

.hero--secondary {
  background-color: $blue-light;
  margin-bottom: $container-pad;

  @include mq-min($bp-md) {
    padding-top: $bsu*2;
    padding-bottom: $bsu*2;
    margin-bottom: $container-pad*3;
  }

  @include mq-min($bp-xl) {
    margin-bottom: $container-pad*4;
  }
}

.hero--banner {
  min-height: 0;
  padding: 0;

  p {
    max-width: $container-sm;
  }

}

.hero__body {
  position: relative;
  z-index: 300;
  width: 100%;

  @include mq-min($bp-md) {
    .hero--banner & {
      width: 56.25%;
      margin-left: 0;
      order: 2;
      padding: $bsu*3 0;
    }
  }

  // Remove margin bottom of last child
  // to make for even vertical centering
  > *:last-child, > * > *:last-child {
    margin-bottom: 0;
  }
}

.hero__title {
  line-height: 0.8;
  font-size: 10vw;
  font-family: $gt-walsheim-heading;

  @include mq-min($bp-md) {
    font-size: 98px;
  }
}

.hero__fresh,
.hero__cuts {
  display: block;
  text-transform: uppercase;
}

.hero__fresh {
  margin-right: 18%;
  margin-top: 3%;
}

.hero__cuts {
  margin-left: 20%;
}


// The overlay
.hero__overlay {
  @include full-cover;
  position: absolute;
  z-index: 200;
  content: '';
  background-color: rgba(black,0.4);

  .hero--banner & {
    width: 12.5%;
    left: auto;
    right: 0;
    box-shadow: 0 0 50vw 25vw rgba(0, 0, 0,0.4);
    display: none;
  }
}

// Allow for full size background image by default
.hero,
.hero__bg {
  @extend .background-cover;
}

// Add this element parallel to the .hero__body
// to separate the background from the content of the .hero
.hero__bg {
  @include full-cover;
  position: absolute;
  z-index: 100;

  img {
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .no-touchevents .hero__video ~ & {
    background-image: none !important;
    display: none;
  }

  @include mq-min($bp-md) {
    .hero--banner & {
      position: relative;
      width: 43.75%;
      right: 0;
      left: auto;
      align-self: flex-start;
      margin: 0 0 $bsu*3 $bsu*2;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}

.hero__video {
  background-color: $color-primary;
  position: absolute;
  z-index: 101;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-aspect-ratio: 6/3) {
    max-width: 125%;
  }

  @media screen and (max-aspect-ratio: 6/4) {
    max-width: 150%;
  }

  @media screen and (max-aspect-ratio: 6/6) {
    max-width: 200%;
  }

  .touchevents & {
    display: none;
  }
}

.hero-slider {
  white-space: nowrap;
  overflow: auto;
}
