/**
 *
 * Messages
 *
 * Styles for error and message boxes
 *
 */

.message {
  @include island($bsu/2);
  @include font-size($small-fs, $small-lh);
  position: relative;
  border: $base-border-width solid;
  margin: $bsu 0;

  a[href*="/cart"] {
    display: none;
  }
}

.message--close {
  padding-right: $bsu*1.5;
}

.message__close {
  position: absolute;
  top: $bsu/4;
  right: $bsu/2;
}

// Style for message boxes
@mixin message-style($color) {
  color: darken($color,10%);
  background-color: lighten($color, 30%);
  border-color: $color;
}

.message--status {
  @include message-style($color-primary);
}

.message--positive {
  @include message-style($color-positive);
}

.message--warning {
  @include message-style($color-warning);
}

.message--error {
  @include message-style($color-negative);
}
