/**
 *
 * Nav
 *
 * Horizontal list with padded items
 *
 * Usage:
 * <ul class="nav">
 *   <li>Nav Item</li>
 *   <li>Nav Item</li>
 *   <li>Nav Item</li>
 * </ul>
 *
 */

.nav {
  display: inline-block;
  padding-left:0;
  margin-bottom: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

.nav--social {
  display: flex;
  justify-content: space-around;

  a {
    @include social-button;
  }
}

.nav--share {
  display: flex;
  justify-content: space-around;
  max-width: 320px;
  margin: $bsu auto;

  a {
    @include social-button(2rem);
    border-width: 2px;

    i {
      font-size: .8em;
    }
  }
}
