.shape-term {
  display: block;
  margin: auto;
  position: relative;
  z-index: 0;
  max-width: 80%;
  cursor: default;

  &.is-hovered {
    cursor: pointer;
    z-index: 1;
  }
}

.shape-term__shrapnel {
  @include full-cover;
  display: block;
  position: absolute;
  z-index: 2;
  pointer-events: none;

  svg {
    position: absolute;
    width: $bsu;
    height: $bsu;
    top: 50%;
    left: 50%;
    margin-left: -$bsu/2;
    margin-top: -$bsu/2;
    transition: transform $transition-slow;

    path, ellipse, circle, polygon, rect {
      fill: $body-color;
    }
  }
}

.shape-term__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  transition: transform $transition-default;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1.01);
    transition: all $transition-default;
  }

  g {
    cursor: pointer;
  }

  .shape-outline {
    opacity: 0;
  }

  .clip-outline {
    pointer-events: none;
  }

  .shape-term:focus & {
    overflow: visible;
    z-index: 10;

    svg {
      transform: scale(7);
    }

    .shape-outline {
      opacity: 1;
    }
  }

}

.shape-term__content {
  @include full-cover;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}


.shape-term__title {
  margin-bottom: 0;
  pointer-events: none;
  transition: all $transition-default;
  line-height: px-to-rem($h2-lh);

  .shape-term--odd & {
    transform: translate3d(-$bsu*10, -$bsu*5, 0);
  }

  .shape-term--even & {
    transform: translate3d(-$bsu*6, -$bsu, 0);
  }
}

.shape-term__img {
  margin-bottom: 0;
  transition: transform $transition-default;
  position: relative;
  z-index: -1;
  overflow: hidden;
  transform: scale(0.99);

  .shape-term.is-hovered &,
  .shape-term.is-hovered & {
    transform: scale(0.95);
  }

  img {
    display: block;
    max-width: none;
    width: 100%;
    transition: transform $transition-default;
  }
}

.shape-term__img--round {
  clip-path: url(#clip-round);
  // max-width: 470px;
  margin: auto;
}

.shape-term__img--cushion {
  clip-path: url(#clip-cushion);
}

.shape-term__img--circle {
  clip-path: url(#clip-circle);
}

.shape-term__img--pear {
  clip-path: url(#clip-pear);
}

.shape-term__img--emerald {
  clip-path: url(#clip-emerald);
}

.shape-term__img--oval {
  clip-path: url(#clip-oval);
}

.shape-term__img--basics {
  clip-path: url(#clip-basics);
}


.shape-term__label {
  transition: all $transition-default;
  line-height: px-to-rem($h2-lh);

  .shape-term:not(.is-hovered) & {
    opacity: 0;
    transform: translate3d(0, $bsu*2, 0);
  }
}
