.shape-item {
  display: block;
  margin: auto;
  position: relative;
  z-index: 0;
  max-width: 87.5%;
  cursor: default;

  .grid__item:nth-child(even) & {
    text-align: right;
  }

  &.is-hovered {
    cursor: pointer;
    z-index: 1;
  }
}

.shape-item__shrapnel {
  @include full-cover;
  display: block;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  transition: all $transition-fast;
  opacity: 0;
  transform: scale(1);

  .shape-item.is-hovered & {
    transition: all .6s $transition-timing-slow;
    opacity: 1;
  }

  svg {
    position: absolute;
    width: px-to-rem(40px);
    height: px-to-rem(40px);
    top: 50%;
    left: 50%;
    margin-left: -$bsu/2;
    margin-top: -$bsu/2;
    transition: all 1s $transition-timing-bounce;

    .shape-item--pear &,
    .shape-item--oval & {
      width: px-to-rem(45px);
      height: px-to-rem(45px);
    }

    &:nth-child(2) { transition-delay: .07s; }
    &:nth-child(3) { transition-delay: .15s; }
  }

  .clip-outline {
    display: none;
  }
}

.shape-item__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  transition: transform $transition-default;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1.01);
    transition: all $transition-default;
  }

  g {
    cursor: pointer;
  }

  .shape-outline {
    opacity: 0;
  }

  .clip-outline {
    pointer-events: none;
  }

  .shape-item:focus & {
    overflow: visible;
    z-index: 1;
  }

}

.shape-item__content {
  width: auto;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  flex-grow: 0;

  .shape-item--round &,
  .shape-item--cushion &,
  .shape-item--basics &
   {
    top: 22.5%;
  }

  .shape-item--emerald & {
    top: 45%;
  }

  .shape-item--pear &,
  .shape-item--oval & {
     bottom: 12.5%;
  }

  .grid__item:nth-child(odd) & {
    left: -$bsu*1.5;
  }

  .grid__item:nth-child(even) & {
    right: -$bsu*3
  }

  .grid__item .shape-item--pear & {
    left: 14%;
    bottom: 14%;
  }

  .grid__item .shape-item--oval & {
    right: 10%;
  }

  .grid__item .shape-item--basics & {
    top: 12.5%;
    right: -$bsu*4;
  }

}

.shape-item__title {
  margin-bottom: 0;
  pointer-events: none;
  transition: all $transition-default;

  .shape-item--odd & {
    transform: translate3d(-$bsu*10, -$bsu*5, 0);
  }

  .shape-item--even & {
    transform: translate3d(-$bsu*6, -$bsu, 0);
  }
}

.shape-item__img {
  margin-bottom: 0;
  transition: transform $transition-default;
  position: relative;
  z-index: -1;
  overflow: hidden;
  transform: scale(0.99);

  .shape-item.is-hovered &,
  .shape-item.is-hovered & {
    transform: scale(0.95);
  }

  img {
    display: block;
    max-width: none;
    width: 100%;
    transition: transform $transition-default;
  }
}

.shape-item__label {
  transition: all $transition-default;
  padding: 0 $bsu;

  .shape-item:not(.is-hovered) & {
    opacity: 0;
    transform: translate3d(0, $bsu*2, 0);
  }
}
