<footer class="site-footer" v-if="!state.transiting" v-bind:key="sections.footer">

  <div class="container container--xxl">

    <div class="grid grid--flex">

      <div class="grid__item w-12-12 w-lg-4-12 order-2--lg text-center mb-2">
        <h4 class="mb-2">{{ global_info.footer_social_nav_title }}</h4>
        {% include 'components/social-nav.twig' %}
      </div>

      <div class="grid__item w-12-12 w-lg-4-12 mb-2">

        <div class="grid">
          <div class="grid__item w-6-12">
            {% include 'components/footer-menu.twig' with { menu: main_menu } %}
          </div>
          <div class="grid__item w-6-12">
            {% include 'components/footer-menu.twig' with { menu: util_menu } %}
          </div>
        </div>
      </div>

      <div class="grid__item w-12-12 w-lg-3-12 w-lg-push-1-12 order-3 mb-1">

        {% include 'components/newsletter-form.twig' %}

      </div>
    </div>

  </div>

  <div class="container mt-2">
    <div class="small-text text-center">
      &copy; {{ 'now'|date('Y') }}  Zephyr Jewelry. All rights reserved.

      {% set terms_id = function('wc_get_page_id', 'terms') %}
      {% if terms_id %}
        {% set terms_page = TimberPost(terms_id) %}
        <a href="{{ terms_page.link }}">{{ terms_page.title }}</a>
      {% endif %}
    </div>
  </div>

</footer>
