<nav id="site-search" class="site-search">
  <div class="site-search__inner">
    <div class="container container--xl">
      {% include 'components/search-form.twig' with {
        namespace: 'site-search'
      } %}
    </div>
  </div>
</nav>