<!DOCTYPE html>

<html class="no-js">

  <head>

    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ wp_title_right }}</title>

    {{ function('wp_head') }}

  </head>
