
<header id="site-header" class="site-header">
  
  <div class="container container--full">
    <div class="site-header__split">
    
      <div class="site-header__left">
        {% include 'components/site-nav-toggle.twig' with { namespace: 'site-header' } %}
      </div>

      <a href="{{ site.url }}" class="site-logo">
        {{ (src_uri ~ '/images/zephyr-logo-full.svg')|file_get_contents }}
      </a>
      
      <div class="site-header__right">
        {% include 'includes/header-icons.twig' %}
        {% include 'components/cart-link.twig' with { namespace: 'site-header' } %}
      </div>

    </div>
  </div>

  {% include 'includes/header-search.twig' %}

</header>

{% include 'components/site-nav-toggle.twig' with { namespace: 'overlay', label: ' ', classname: ' ' } %}
{% include 'includes/site-nav.twig' %}