{% set hero_link = hero_link|default(post.get_field('hero_link')) %}
{% set hero_link_label = hero_link_label|default(post.get_field('hero_link_label')) %}

{% if hero_link or post.hero_title %}
<div class="container container--full">
  <section id="hero" class="hero hero--secondary">

    <div class="hero__body">

      <div class="container container--lg">

        {% if post.hero_title %}
          <h1 class="h2">{{ post.hero_title }}</h1>
        {% endif %}

        <div class="container container--xs container--flush">

          {% if post.hero_content %}
          <p class="lead mb-1">{{ post.hero_content|wpautop }}</p>
          {% endif %}

          <a href="{{ hero_link }}" class="btn btn--body">{{ hero_link_label }}</a>

        </div>
      </div>

    </div>

  </section>
</div>
{% endif %}
