<section class="section">
  <div class="container container--full clearfix">
    {% for image in post.get_field('lookbook_images') %}
      {% include 'components/lookbook-image.twig' with {
        image: image
      } %}
    {% endfor %}
  </div>

  <div class="mt-2 mb--1">
    <h3 class="text-center">Share the love</h3>
    {% include ('includes/share-bar.twig') %}
  </div>

</section>

