<div class="container container--xs container--flush mt-2">
  <ul class="nav nav--share js-share-post">
    <li>
      <a href="{{ share_post.get_url('fb_share', post.id) }}">
        <i class="icon-facebook"></i>
      </a>
    </li>
    <li>
      <a href="{{ share_post.get_url('tweet', post.id) }}">
        <i class="icon-twitter"></i>
      </a>
    </li>
    <li>
      <a href="{{ share_post.get_url('mail', post.id) }}">
        <i class="icon-envelope"></i>
      </a>
    </li>
  </ul>
</div>
