<article class="section">
  <div class="container container--md">

    <header class="section-header">

      <h1 class="h1-sm">{{ post.title }}</h1>

    </header>

    <div class="post-content">
      {{ post.content }}
    </div><!-- .post-content -->
  </div>
</article>
