{% extends 'layouts/base.twig' %}

{% block content %}

  <section class="section">

    {% include 'includes/filters.twig' %}

    <div class="container">

      <shop-grid :products="state.products">
      </shop-grid>

      {% do action('woocommerce_after_shop_loop') %}
      {% do action('woocommerce_after_main_content') %}

    </div>

  </section>

{% endblock  %}
