{% extends 'layouts/base.twig' %}

{% block content %}

  <section class="section">

    <div class="container">

      {% include 'includes/filters.twig' %}

      <shop-grid :products="state.productArray" :query="state.query">
      </shop-grid>

      <div v-bind:key="'woocommerce_content'">
        {% do action('woocommerce_after_shop_loop') %}
        {% do action('woocommerce_after_main_content') %}
      </div>

    </div>

  </section>

{% endblock  %}

{% block bottom %}
  {% include 'includes/hero-color.twig' %}
{% endblock %}
